<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>522987606252-ss0v2bf25p8r9gl2tfill8b429dcdfvg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.522987606252-ss0v2bf25p8r9gl2tfill8b429dcdfvg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>522987606252-368a1qnmm90mjgte4umvv8penqckqnnu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAgJIqMzfrmqvP5kiy3GpvXKPkLmZQN5AM</string>
	<key>GCM_SENDER_ID</key>
	<string>522987606252</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fdffare.flyDealFare</string>
	<key>PROJECT_ID</key>
	<string>newflydealfare</string>
	<key>STORAGE_BUCKET</key>
	<string>newflydealfare.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:522987606252:ios:673c0e23caf3cf283b95c9</string>
</dict>
</plist>